{% extends 'base.html' %}
{% block content %}
<div class="container" style="padding: 40px; background-color: #fff;">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <!-- <div class="card"> -->
                <div class="card-header">
                    <h2 class="card-title" style="margin-bottom: 0px !important;">Create New Entry</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.date.id_for_label }}">Date:</label>
                            {{ form.date }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.description.id_for_label }}">Description:</label>
                            {{ form.description }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.main_category.id_for_label }}">Main Category:</label>
                            {{ form.main_category }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.sub_category.id_for_label }}">Sub Category:</label>
                            {{ form.sub_category }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.receipts.id_for_label }}">Receipts:</label>
                            {{ form.receipts }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.payments.id_for_label }}">Payments:</label>
                            {{ form.payments }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.company.id_for_label }}">Company:</label>
                            {{ form.company }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.currency.id_for_label }}">Currency:</label>
                            {{ form.currency }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.file.id_for_label }}">File:</label>
                            {{ form.file }}
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col text-left">
                                    <button type="submit" class="btn btn-create btnset buttonsetting">Create</button>
                                </div>
                                <div class="col text-right">
                                    <a href="#" class="btn btn-back btn back-btn btnback">Back</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>
{% endblock %}
